body {
    background-color: var(--page_background);
    padding: 0px;
    margin: 0px;
}
*{
  font-family: var(--font_family);
}
.signUp {
  .image-side {
   
      padding: 0px;
      display: absolute;
    img {
      width: 100%;
      height: auto;
      display: relative;

    }
  }
  .form-side {
      background: linear-gradient(210deg, #eedede 0%, #ffffff 60%);

    align-items: center;
    justify-content: center;
    padding: 60px;
    .sec{
      padding: 10px 100px;
    }
    .header{
      
     h4{
      font-size:30px;
      font-weight: 600;
     }
     p{
      font-size: 16px;
     }
    }
    .form {

    .form-group{

        position: relative;
        padding:8px;

      label{
        font-size: 15.5px;
        font-weight: 400;
      }
      input{
     background-color: rgba(255, 255, 255, 0.9); // white with 60% opacity;
        border-color: var(--input_border);
        color:var(--input);
        font-size: 14px;
        padding: 8px;
      }
      
  
  .password-toggle {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 12px; // Adjust for label height
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transition: opacity 0.3s;
    
    &:hover {
      opacity: 1;
    }
  }

  }
   .form-check{
    padding: 10px 30px;
    .form-check-label{
      font-size: 13.5px;
    }
   }
}
button{
  align-self: center;
  width: 100%;
  background-color: var(--primary_brown);
  border: none;
  border-radius: 5px;
  color: var(--primary_white);
  padding: 8px;
  font-size: 14px;
  }
.sign-up{
  padding: 20px 0px;
  font-size: 14px;
  a{
color: var(--primary_black); 
   }
}
.forgot-pass{
   a{

    color: var(--footer_copyright_grey); 
    padding-bottom: 10px;
   } 
}
}

}