body {
    background-color: var(--page_background);
    padding: 0px;
    margin: 0px;
}
*{
  font-family: var(--font_family);
}
.signUp {
  .image-side {
   
      padding: 0px;
      display: absolute;
    img {
      width: 100%;
      height: auto;
      display: relative;
      padding: 0px 10px 0px 0px;

    }
  }
  .form-side {
    align-items: center;
    justify-content: center;
    .form {
        padding: 30px ;

    .form-group {
  }
}
  }

}