body {
    background-color: var(--page_background);
    padding: 0px;
    margin: 0px;
}
.signUp {
  .image-side {
   
      padding: 0px;

    img {
      width: 100%;
      height: auto;
    }
  
  .form-side {
    .form {
    
    .form-group {
    padding: 15px;
  }
}
}
}