:root{
 //general in all pages
--primary_brown:#AE2F37;
--placeholder:#BDBDBD;
--primary_white:#FFFFFF;
--primary_black:#000000;
--input_background:#424B5A;
--page_background:#F4F4F4;


//home 
//home burger background color
--brgr_background:#7C2127;
//featured brgr background color
--featured_brgr_background:#F7EAEB;
//nav bar text color
--nav_bar_light_grey:#363635;



//devider between sections
--devider:#222222;

//footer text colors
--footer_light_black:#1B1B1B;
--footer_copyright_grey:#7C7C7C;

 /////////////////////////////////////////////////////////////////////////////////////

 //fonts
 --font_family: 'neon', sans-serif;
--font_size:16px;
--fon

}
