:root{
 //general in all pages
--primary_brown:#AE2F37;
--placeholder:#BDBDBD;
--primary_white:#FFFFFF;
--primary_black:#000000;
--input_border:rgba(66, 75, 90, 0.2);
--input_background:rgba(233, 237, 245, 1);
--page_background:#F4F4F4;


//home 
//home burger background color
--brgr_background:#7C2127;
//featured brgr background color
--featured_brgr_background:#F7EAEB;
//nav bar text color
--nav_bar_light_grey:#363635;


//devider between sections
--devider:#222222;

//footer text colors
--footer_light_black:#1B1B1B;
--footer_copyright_grey:#7C7C7C;

 /////////////////////////////////////////////////////////////////////////////////////

 //fonts
  --font_family: 'neon', sans-serif;
  --font_family_home_first_section: 'cairo' , sans-serif;
  --font_size_regular:18px;
//form h+p
--font_size_h2:36px;
--font_size_p_form:20px;
 //main section
--font_size_p:26px;
--font_size_h4:84px;
--font_size_h1:96px;

//other sections h3+p
--font_size_h3_featured:38px;
--font_size_p_featured:18px;
   //cards
--font_size_card_name:22px;
--font_size_card_description:18px;
--font_size_price:30px;

}
