:root{
--primary_brown:#AE2F37;
--placeholder:#BDBDBD;
--primary_white:#FFFFFF;
--primary_black:#000000;

//header text color
--header_light_black:#1B1B1B;
//devider between sections
--devider:#222222;

//footer text colors
--footer_light_black:#1B1B1B;
--footer_copyright_grey:#7C7C7C;
}
