doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        // Primary SEO
        title One Life Graphic T-Shirt | Shop Store
        meta(name="description" content="Shop the One Life Graphic T-Shirt at Shop Store. A stylish and comfortable t-shirt perfect for everyday casual wear, made from high-quality materials.")
        meta(name="keywords" content="One Life Graphic T-Shirt, graphic tee, casual t-shirt, men's fashion, women's fashion, everyday wear, Shop Store")
        meta(name="author" content="Shop Store Team")

        // Fonts & Styles
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap")
        link(href="https://fonts.cdnfonts.com/css/neo-sans-arabic" rel="stylesheet")
        link(rel="stylesheet" href="https://use.typekit.net/abcd123.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css")
        link(href="https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="css/style.css")
    body
        .container-fluid
            .row.signUp
                .col-md-6.image-side
                    img(src="./assets/images/form/image.svg" alt="Signup Illustration")
                .col-md-6.form-side.px-5
                    .sec
                        .header
                            h4 Create A New Account 
                            p create a new account lease enter your personal date to create a new account and enjoy our services.
                        .form
                            
                            .form-group 
                                label(for="email") Email
                                input#email.form-control.rounded-3(type="email" name="email" placeholder="Enter Your Email")     
                            .form-group.position-relative
                                label(for="password") Password
                                input#passwd.form-control.rounded-3(type="password" name="password" placeholder="Enter Your Password")
                                img.password-toggle(src="assets/icons/forms/eye.svg" alt="Show Password")

                            .form-group.position-relative
                                label(for="confirmPassword") Confirm Password
                                input#confirmps.form-control.rounded-3(type="password" name="confirmPassword" placeholder="Confirm Your Password")
                                img.password-toggle(src="assets/icons/forms/eye.svg" alt="Show Password")
                            .form-check 
                                input.form-check-input.rounded-1(type="checkbox" id="agree")
                                label.form-check-label(for="agree") Accept the Terms and Conditions and Privacy Policy    
                            .text-center
                                button.btn.btn-primary.rounded-4(type="submit") Login
                                .sign-up
                                    span Already Have an Account?
                                    a(href=" ./login.html") Sign Up