:root{
    //form page image
--form_page_image_width:939px;
--form_page_image_height:989px;

  //home page image
--home_page_image_width:614px;
--home_page_image_height:919px;

//featured page images
--featured_page_image_width:614px;
--featured_page_image_height:919px;
}