:root{
    //form page image
--form_page_image_width:939px;
--form_page_image_height:989px;

  //home page image
--home_page_image_width:614px;
--home_page_image_height:919px;

//featured page images
--featured_page_image_width:502px;
--featured_page_image_height:207px;

//our story page images
--our_story_page_image_width:774px;
--our_story_page_image_height:650px;

//experience page images
--experience_page_image_width:680px;
--experience_page_image_height:451px;

//contact page images
--contact_page_image_width:680px;
--contact_page_image_height:451px;
}